div.wpcf7 {
	background-color:#eee;
	margin:20px 10px 30px;
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
	padding-bottom:10px;
	border-color:#000;
	border-width:2px;
	-moz-box-shadow:4px 4px 4px #000;
	-webkit-box-shadow:4px 4px 4px #000;
	box-shadow:0 0 18px #000;
/* For IE 8 */
	-ms-filter:progid:DXImageTransform.Microsoft.Shadow(Strength=4,Direction=135,Color='#000000');
/* For IE 5.5 - 7 */
	filter:progid:DXImageTransform.Microsoft.Shadow(Strength=4,Direction=135,Color='#000000');
	-moz-border-radius:15px;
	border-radius:15px;
	
}

.wpcf7 input, 
.wpcf7 textarea{
    padding:10px;
    color:#8e8e8e;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    line-height: 20px;
 
    border: solid 1px #9f9f9f; 
     
    box-shadow: inset 2px 2px 8px #red;
     
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
     
}
 
.wpcf7 .wpcf7-list-item{
    padding-left: 0;
    margin-left: 0;
    margin-right: 25px;
}
 
.wpcf7 .wpcf7-list-item input{
    border: none;
    padding-left: 0;
    margin-left: 0;
}
 
.wpcf7 select{
    outline: none;
    font-size:16px;
    font-family:Arial, Helvetica, sans-serif;
}
 
.wpcf7 input:hover, 
.wpcf7 input:focus, 
.wpcf7 input:active, 
.wpcf7 textarea:hover, 
.wpcf7 textarea:focus, 
.wpcf7 textarea:active {
    background: #ebf7f5;
    outline: none;
}
 
.wpcf7 input.wpcf7-submit{
 
    -webkit-transition: 0;
    -moz-transition: 0;
    -o-transition: 0;
    transition: 0;
     
    border: none;
    position: relative;
     
    color: #fff;
     
    text-shadow: 1px -2px 0px black;
     
    text-transform: uppercase;
     
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
     
    font-size: 14px;
     
    padding-top: 11px;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-right: 35px;
     
    /* Gradient background */
    /* #4d1b5c is the purple color */
    background-color: #4d6378;
    background: -webkit-gradient(linear, left top, left bottom, from(#a8b2bc), to(#4d6378));    
    background:  -moz-linear-gradient(top, #a8b2bc, #4d6378);   
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#a8b2bc', endColorstr='#4d6378');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#a8b2bc, endColorstr=#4d6378)";
     
    /* Drop Shadow */
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
     
}
 
/* On hover */
.wpcf7 input.wpcf7-submit:hover{
     
    cursor: pointer;
    text-decoration: none;
     
    background-color: #d9a363;
    background: -webkit-gradient(linear, left top, left bottom, from(#d9a363), to(#d9a363));    
    background:  -moz-linear-gradient(top, #d9a363, #d9a363);   
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#d9a363', endColorstr='#d9a363');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#d9a363, endColorstr=#d9a363)"; 
}
 
/* On click */
.wpcf7 input.wpcf7-submit:active{
    top: 1px;
     
    color: #d8c6e2;
     
    background-color: #000000;
    background: -webkit-gradient(linear, left top, left bottom, from(#grey), to(#black));    
    background:  -moz-linear-gradient(top, #grey, #black);   
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d1b5c', endColorstr='#4d1b5c');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4d1b5c, endColorstr=#4d1b5c)"; 
     
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
 
/* CF7 Messages */
.wpcf7 .wpcf7-validation-errors{
    border:none;
    background-color:#f4ae46;
    margin:0px;
    padding:20px;
     
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
 
.wpcf7 .wpcf7-mail-sent-ok{
    border:none;
    background-color:#7ad33f;
    margin:0;
    padding:20px;
     
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
 
.wpcf7 .wpcf7-mail-sent-ng{
    border:none;
    background-color:#cf2d38;
    margin:0;
    padding:20px;
     
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
     
    color: white;
}
 
.wpcf7 span.wpcf7-not-valid-tip{
    border:none;
    background-color:#cf2d38;
    padding:10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius:10px;
    width: 180px;
    color: white;
    margin-right:-100px;
     
    /* Drop shadow */
    -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}
 
.wpcf7-form .fleft{
    float: left;
}
 
.wpcf7-form .mright20{
    margin-right: 20px;
}
 
.wpcf7-form .mright40{
    margin-right: 40px;
}
 
.wpcf7-form .clear{
    clear: both;
}

.wpcf7 select {
padding:8px;
width: 350px;
color: #8e8e8e;
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
border: solid 1px #9f9f9f;
box-shadow: inset 2px 2px 8px #bababa;
}